<!DOCTYPE html>
<html lang="pt-br"
    xmlns="http://www.3c.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
  
  <body>
    <div layout:fragment="content">
      <div class="system">
        <div class="jumbotron">
          <h3 class="title-page display-5">Cadastro de Produtos</h3>
        </div>
        <div>
          <form method="post" th:object="${produto}" th:action="@{/produto/salvar}">
            <div class="form-register-product form-group">
              <label for="exampleInputEmail1" class="text-register-product">Sabor</label>
              <input type="text" class="form-control input-register-product" aria-describedby="emailHelp" 
              placeholder="Digite o produto" th:field="*{sabor}">
            </div>
            <div class="form-register-product form-group">
              <label for="exampleInputEmail1" class="text-register-product ">Preço</label>
              <input type="text" class="form-control input-register-product" aria-describedby="emailHelp" 
              placeholder="Digite o valor" th:field="*{preco}">
            </div>
            <div class="form-register-product form-group">
              <label for="exampleInputEmail1" class="text-register-product">Quantidade</label>
              <input type="number" class="form-control input-register-product" aria-describedby="emailHelp" 
              placeholder="Digite a quantidade" th:field="*{quantidade}">
            </div>
            <div class="row">
              <div class="col col-buttons">
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
              <div class="col col-buttons">
                <button type="reset" class="btn btn-primary">Limpar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>