<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="../style/index.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

  <title>Sorveteria</title>
</head>

<body class="full">

  <div class="row">
    <div class="col-3">
      <div class="menu-index">
        <div class="logo-menu">
          <img src="../img/logo.png" class="logo-img">
        </div>
        <div class="list-menu">
          <div class="menu-nav">
            <img class="icons" src="../img/conta.svg">
            <p class="text-menu">Funcionario</p>
          </div>
          <div class="menu-nav">
            <img class="icons" src="../img/estoque.svg">
            <p class="text-menu">Estoque</p>
          </div>
          <div class="menu-nav">
            <img class="icons" src="../img/cadastro.svg">
            <p class="text-menu">Cadastro de Produtos</p>
          </div>
          <div class="menu-nav">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="icons" src="../img/pedidos.svg">
              <p class="text-menu1">Pedidos</p>           
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Realizar Pedidos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Consultar Pedidos</a>
            </div>
          </div>
        </div>
        <div class="division">
        </div>
        <div class="list-menu">
          <div class="menu-nav">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="icons" src="../img/conta.svg">
              <p class="text-menu1">Conta</p>           
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Trocar Senha</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Trocar E-mail</a>
            </div>
          </div>
          <div class="menu-nav">
            <img class="icons" src="../img/sair.svg">
            <p class="text-menu">Sair</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="system">
        <div class="jumbotron">
            <h3 class="title-page display-5">Trocar de Senha</h3>
        </div>
        <div>
            <form>
                <div class="form-register-product form-group">
                  <label for="exampleInputEmail1" class="text-register-product">Digite sua senha atual:</label>
                  <input type="email" class="form-control input-register-product" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe sua senha atual">
                </div>
                <div class="form-register-product form-group">
                    <label for="exampleInputEmail1" class="text-register-product ">Digite sua nova senha:</label>
                    <input type="email" class="form-control input-register-product" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe sua nova senha">
                  </div>
                  <div class="form-register-product form-group">
                    <label for="exampleInputEmail1" class="text-register-product">Digite sua nova senha novamente:</label>
                    <input type="email" class="form-control input-register-product" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe novamente sua nova senha">
                  </div>


                  <div class="row1">
                    <div class="col col-buttons">
                        <button type="submit" class="btn btn-primary">Alterar</button>
                    </div>
                    <div class="col col-buttons">
                        <button type="submit" class="btn btn-primary">Limpar</button>
                    </div>
                  </div>
              </form>
        </div>
    </div>
    </div>

  </div>

  </div>
  </div>
  </div>




  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
</body>

</html>